# Ignore Go build artifacts
ech-proxy
ech-proxy-*
*.exe
*.so
*.apk
*.bin

# Ignore Android build outputs
.gradle/
ech-proxy-android/android/.gradle/
ech-proxy-android/android/app/build/
ech-proxy-android/android/local.properties

# Ignore IDE files
.idea/
*.iml
ech-proxy-android/certs/
ech-proxy-android/android/release.keystore
